body {
  padding-top: 70px;
  background-image: url("../img/symphony.png");
}

.borde-red{  
    border-radius: 10px;    
    -moz-border-radius: 10px;    
    -webkit-border-radius: 10px;	
}  

.timelines-element{
	border-bottom-style: dashed;
	margin : 5px;
	margin-bottom : 50px;
}

.row{
	text-align : center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.education-blue {
	background-color : #66a3ff;
	padding : 10px;
	border-radius: 10px;    
    -moz-border-radius: 10px;    
    -webkit-border-radius: 10px;
	height: 350px;
}

.education-yellow {
	background-color : #ffff80;
	padding : 10px;
	border-radius: 10px;    
    -moz-border-radius: 10px;    
    -webkit-border-radius: 10px;
	height: 350px;
}

.education-red {
	background-color : #ff4d4d;
	padding : 10px;
	border-radius: 10px;    
    -moz-border-radius: 10px;    
    -webkit-border-radius: 10px;
	height: 350px;
}

.education-p {
	color : white;
}

h1, h2, h3 {
	font-size:30px !important;
}

.col-md-4{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;    
    -moz-border-radius: 10px;    
    -webkit-border-radius: 10px;
    box-shadow: 10px 10px 5px #e6e6e6;
}

.pull-right {
	margin: 0 40px 10px;
}

.panel-body{
	background-color: white;
	padding: 10px;
	border-radius: 10px;    
    -moz-border-radius: 10px;    
    -webkit-border-radius: 10px;
    box-shadow: 10px 10px 5px #e6e6e6;
}